.book-card{
    /* border: 2px solid red; */
    width: 270px;
    height: 480px;
    background-color: white;
    margin-bottom: 15px;
    padding: 10px;
}

.card-image{
    width: 100%;
    height: 230px;
}
.card-text{
    padding: 10px 17px;
    line-height: 1.2rem;
}
.button-holder{
    display: flex;
    justify-content: center;
}

.cart-button {
  appearance: none;
  /* background-color: #2ea44f; */
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #ffff;
  /* cursor: pointer; */
  display: inline-block;
  font-family: system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  text-align: center;
  width: 90%;
}

.cart-button:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.cart-button:hover {
  /* background-color: #2c974b; */
}

.cart-button:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

.cart-button:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.cart-button:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

@media screen and (max-width: 1026px){
  .book-card{
    width: auto;
    height: 480px;

  }
  
}

@media screen and (max-width: 769px){
  .book-card{
    width: auto;
    height: 480px;

  }
  
}

@media screen and (max-width: 426px){
  .book-card{
    width: auto;
    height: 480px;

  }
  
}
