.card-and-reading-info{
    display: flex;
    gap: 10px;
    width: 95%;
    margin: auto;
    padding: 30px 10px 30px 0px;
    background-color: rgb(249, 248, 248);
}
@media screen and (max-width: 1026px){
    .card-and-reading-info{
        flex-direction: column-reverse;
       
    }
    
}
@media screen and (max-width: 769px){
    .card-and-reading-info{
        flex-direction: column-reverse;
       
    }
    
}
