.navbar-parents{
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(249, 248, 248);
}
.logo-and-club-name-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.reader-logo{
    height: 82px;
    width: 100px;
}
.club-name{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
}
.club-location{
    font-size: 15px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: purple; 
    padding-top: 10px;
}
.reader-image{
    height: 82px;
    width: 100px;
    border-radius: 10px;
}
.reader-introduction{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}
.reader-name{
    color: rgb(101, 21, 213);
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 12px;
}
.reader-location{
    color: rgb(101, 21, 213);
    font-size: 18px;
    font-weight: bold;
}
.fa-location-dot{
    margin-right: 5px;
}
.kg-fts-yrs{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    font-weight: 700;
}
.measurement{
    font-size: 17px;
    padding-top: 5px;
    color: rgb(161, 153, 153);
    text-align: center;
}
.unit-measure{
    color: rgb(161, 153, 153);
}
.reader-condition{
    display: flex;
    gap: 15px;
}
.single-info-div{
    background-color: #ffff;
    padding: 12px 15px;
    border-radius: 10px;
}


@media screen and (max-width: 769px){
    .navbar-parents{
        flex-direction: column;
        padding: 30px 3px;
    }
    .reader-introduction{
        padding: 15px 0px;
        
    }
    .reader-condition{
        gap: 22px;
    }
    .reader-name{
        font-size: 20px;  
    }
    .reader-location{
        font-size: 16px;
    }
    .club-name{
        font-size: 17px;
    }
    .club-location{
        font-size: 13px;
    }
}
