.navbar-parents{
    background-color: aqua;
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-and-club-name-div{
    display: flex;
    align-items: center;
}
.reader-logo{
    height: 82px;
    width: 100px;
}
.club-name{
    font-size: 20px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: purple;
    margin-left: 10px;
}
.club-name:hover{
    color: rgb(40, 9, 101);
}
.reader-image{
    height: 82px;
    width: 100px;
    border-radius: 10px;
}
.reader-introduction{
    display: flex;
    gap: 20px;
    align-items: center;
}
.reader-name{
    color: rgb(101, 21, 213);
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 12px;
}
.reader-location{
    color: rgb(101, 21, 213);
    font-size: 18px;
    font-weight: bold;
}
.fa-location-dot{
    margin-right: 5px;
}
.weight-kg{
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 5px;
    font-weight: 700;
}
.measurement{
    font-size: 17px;
    padding-top: 5px;
    color: rgb(161, 153, 153);
    text-align: center;
}
.unit-measure{
    color: rgb(161, 153, 153);
}
.reader-condition{
    display: flex;
    align-items: center;
    gap: 15px;
}
.single-info-div{
    background-color:white;
    padding: 12px;
    border-radius: 10px;
}